<!DOCTYPE html>
<html lang="zh-CN">

<%- include("./public/header.ejs")%>

<!-- 展示内容 -->
<body>

<form action="/admin/updateArticlesEdit" method="post">
    <div class="row">
        <div class="col-md-6 form-group form-group-lg">
            <label class="control-label">Article Title</label>
            <input class="form-control" type="text" id="" value="<%= article.article_title%>">
        </div>
        <div class="col-md-6 form-group form-group-lg">
            <label class=" control-label">Author Name</label>
            <input class="form-control" type="text" id="" value="<%= article.author_name%>">
        </div>
    </div>

    <div class="row col-md-12 form-group form-group-lg">
        <label class="control-label">Article Content</label>
    </div>
    <div class="" id="test-editormd">
        <textarea style="display:none;" id="ts"><%- doc %></textarea>
    </div>
    <div class="row form-group form-group-lg">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <input class="btn btn-primary btn-lg" type="submit" value="Confirm"/>
        </div>
    </div>


</form>
</body>

<script type="text/javascript">
    //    调用编辑器
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "1000px",
            height  : 640,
            syncScrolling : "single",
            path    : "/editor.md-master/lib/"
        });
    });
</script>

</html>