<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/admin" style="color:#a4d3ee;margin-left: 10px;font-size:23px">个人博客资源管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="top"  href="#" ><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;欢迎你，admin</a></li>
                <li><a class="top"  href="/admin/aboutme" target="content"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;我的信息</a></li>
                <li><a class="top" href="/">前台</a></li>
                <li><a class="top"  href="/logout" ><i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;退出系统</a></li>
            </ul>

        </div>
    </div>
</nav>