<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="accordion" class="accordion">
                <li class="active">
                    <div class="link"><i class="fa fa-home"></i>控制面板</div>
                </li>
                <li>
                    <div class="link">用户管理<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="/admin/adminList" target="content">用户列表</a></li>
                    </ul>
                </li>
                <li><div class="link">文章类别管理<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="/admin/sortList" target="content">类别列表</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">文章管理<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="/admin/articlesEdit" target="content">文章编辑</a></li>
                        <li><a href="/admin/articleAdd" target="content">添加博文</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">文章评论管理<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="/admin/articlesEdit" target="content">文章编辑</a></li>
                        <li><a href="/admin/articleAdd" target="content">添加博文</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">标签管理<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="/admin/tagsEdit" target="content">标签编辑</a></li>
                        <li><a href="/admin/tagAdd" target="content">添加标签</a></li>
                    </ul>
                </li>
                <li style="border-bottom: 1px solid #37414b;"><div class="link">相册管理<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="#">相册管理</a></li>
                        <li><a href="#">添加相册</a></li>
                        <li><a href="#">添加图片</a></li>
                    </ul>
                </li>
                <li style="border-bottom: 1px solid #37414b;"><div class="link">留言管理<i class="fa fa-chevron-down"></i></div>
                    <ul class="submenu">
                        <li><a href="#">相册管理</a></li>
                        <li><a href="#">添加相册</a></li>
                        <li><a href="#">添加图片</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>